/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
:root {
    /* Original */
    /* --theme-r1: 0;
    --theme-g1: 174;
    --theme-b1: 255;

    --theme-r2: 0;
    --theme-g2: 93;
    --theme-b2: 255; */

    /* proposition 1 */
    /* --theme-r1: 255;
    --theme-g1: 101;
    --theme-b1: 0;

    --theme-r2: 255;
    --theme-g2: 21;
    --theme-b2: 0; */

    /* proposition 2 */
    /* --theme-r1: 255;
    --theme-g1: 0;
    --theme-b1: 70;

    --theme-r2: 255;
    --theme-g2: 21;
    --theme-b2: 0; */

    /* proposition 3 */
    --theme-r1: 255;
    --theme-g1: 21;
    --theme-b1: 0;

    --theme-r2: 0;
    --theme-g2: 0;
    --theme-b2: 0;

    /* proposition 4 */
    /* --theme-r1: 255;
    --theme-g1: 21;
    --theme-b1: 0;

    --theme-r2: 100;
    --theme-g2: 255;
    --theme-b2: 0; */

    /* proposition 5 */
    /* --theme-r1: 0;
    --theme-g1: 0;
    --theme-b1: 0;

    --theme-r2: 255;
    --theme-g2: -255;
    --theme-b2: -255; */

    /* proposition 6 */
    /* --theme-r1: 0;
    --theme-g1: 0;
    --theme-b1: 0;

    --theme-r2: 680;
    --theme-g2: 1;
    --theme-b2: 1; */

    /* proposition 7 */
    /* --theme-r1: 255;
    --theme-g1: 21;
    --theme-b1: 70;

    --theme-r2: 255;
    --theme-g2: 0;
    --theme-b2: 255; */

    /* proposition 8 */
    /* --theme-r1: 255;
    --theme-g1: 21;
    --theme-b1: 0;

    --theme-r2: -520;
    --theme-g2: 0;
    --theme-b2: 90; */

    --select-color-1: rgb(calc(0.615 * var(--theme-r1) + 71) calc(0.615 * var(--theme-g1) + 71) calc(0.615 * var(--theme-b1) + 71));
    --select-color-2: rgb(calc(0.471 * var(--theme-r1) + 115) calc(0.471 * var(--theme-g1) + 115) calc(0.471 * var(--theme-b1) + 115));
    --select-color-3: rgb(calc(0.279 * var(--theme-r2) + 55) calc(0.279 * var(--theme-g2) + 55) calc(0.279 * var(--theme-b2) + 55));
    --select-color-4: rgb(calc(0.494 * var(--theme-r1) + 107) calc(0.494 * var(--theme-g1) + 107) calc(0.494 * var(--theme-b1) + 107));
    --select-color-5: rgba(calc(0.196 * var(--theme-r2) + 40), calc(0.196 * var(--theme-g2) + 40), calc(0.196 * var(--theme-b2) + 40), 0.9);
    --select-color-6: rgb(calc(0.69 * var(--theme-r1) + 49) calc(0.69 * var(--theme-g1) + 49) calc(0.69 * var(--theme-b1) + 49));
    --select-color-7: rgba(calc(0.133 * var(--theme-r2) + 127), calc(0.133 * var(--theme-g2) + 127), calc(0.133 * var(--theme-b2) + 127), 0.25);
    --select-color-8: rgb(calc(0.279 * var(--theme-r1) + 12) calc(0.279 * var(--theme-g1) + 12) calc(0.279 * var(--theme-b1) + 12));
    --select-color-9: rgb(calc(0.722 * var(--theme-r1) + 32) calc(0.722 * var(--theme-g1) + 32) calc(0.722 * var(--theme-b1) + 32));
    --select-color-10: rgb(calc(0.027 * var(--theme-r2) + 243) calc(0.027 * var(--theme-g2) + 243) calc(0.027 * var(--theme-b2) + 243));
    --select-color-11: rgb(calc(0.047 * var(--theme-r2) + 52) calc(0.047 * var(--theme-g2) + 52) calc(0.047 * var(--theme-b2) + 52));
    --select-color-12: rgb(calc(0.05 * var(--theme-r2) + 232) calc(0.05 * var(--theme-g2) + 232) calc(0.05 * var(--theme-b2) + 232));
    --select-color-13: rgb(calc(0.361 * var(--theme-r2) + 70) calc(0.361 * var(--theme-g2) + 70) calc(0.361 * var(--theme-b2) + 70));
    --select-color-14: rgb(calc(0.117 * var(--theme-r2) + 203) calc(0.117 * var(--theme-g2) + 203) calc(0.117 * var(--theme-b2) + 203));
    --select-color-15: rgb(calc(0.035 * var(--theme-r2) + 239) calc(0.035 * var(--theme-g2) + 239) calc(0.035 * var(--theme-b2) + 239));
    --select-color-16: rgba(calc(0.313 * var(--theme-r2) + 20), calc(0.313 * var(--theme-g2) + 20), calc(0.313 * var(--theme-b2) + 20), 0.1);
    --select-color-17: rgb(calc(0.736 * var(--theme-r1) + 35) calc(0.736 * var(--theme-g1) + 35) calc(0.736 * var(--theme-b1) + 35));
    --select-color-18: rgb(calc(0.078 * var(--theme-r1) + 231) calc(0.078 * var(--theme-g1) + 231) calc(0.078 * var(--theme-b1) + 231));
    --select-color-19: rgb(calc(0.348 * var(--theme-r2) + 97) calc(0.348 * var(--theme-g2) + 97) calc(0.348 * var(--theme-b2) + 97));
    --select-color-20: rgba(calc(0.279 * var(--theme-r2) + 55), calc(0.279 * var(--theme-g2) + 55), calc(0.279 * var(--theme-b2) + 55), 0.8);
    --select-color-21: rgba(calc(0.279 * var(--theme-r2) + 55), calc(0.279 * var(--theme-g2) + 55), calc(0.279 * var(--theme-b2) + 55), 0.08);
    --select-color-22: rgba(calc(0.279 * var(--theme-r2) + 55), calc(0.279 * var(--theme-g2) + 55), calc(0.279 * var(--theme-b2) + 55), 0.125)
}

/* Rules for sizing the icon. */
.material-icons, .material-icons-outlined { margin: auto; }
.material-icons.md-18, .material-icons-outlined.md-18 { font-size: 18px; }
.material-icons.md-24, .material-icons-outlined.md-24 { font-size: 24px; }
.material-icons.md-36, .material-icons-outlined.md-36 { font-size: 36px; }
.material-icons.md-48, .material-icons-outlined.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark, .material-icons-outlined.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive, .material-icons-outlined.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light, .material-icons-outlined.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive, .material-icons-outlined.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.db-text-primary {color: #3490dc;}
.db-text-secondary {color: #6c757d;}
.db-text-success {color: #38c172;}
.db-text-danger {color: #e3342f;}
.db-text-warning {color: #ffed4a;}
.db-text-info {color: #6cb2eb;}
.db-text-light {color: #f8f9fa;}
.db-text-dark {color: #343a40;}
.db-text-orange {color: #f6993f;}
.db-text-indigo {color: #6574cd;}
.db-text-purple {color: #9561e2;}
.db-text-pink {color: #f66d9b;}
.db-text-teal {color: #4dc0b5;}

.card.card-dashboard { width: 12rem; margin: 1.25rem; padding-top: 1.25rem; }

.card-dashboard-primary:hover { background-color: #3490dc20; }
.card-dashboard-secondary:hover { background-color: #6c757d20; }
.card-dashboard-success:hover { background-color: #38c17220; }
.card-dashboard-danger:hover { background-color: #e3342f20; }
.card-dashboard-warning:hover { background-color: #ffed4a20; }
.card-dashboard-info:hover { background-color: #6cb2eb20; }
.card-dashboard-light:hover { background-color: #f8f9fa20; }
.card-dashboard-dark:hover { background-color: #343a4020; }
.card-dashboard-orange:hover { background-color: #f6993f20; }
.card-dashboard-indigo:hover { background-color: #6574cd20; }
.card-dashboard-purple:hover { background-color: #9561e220; }
.card-dashboard-pink:hover { background-color: #f66d9b20; }
.card-dashboard-teal:hover { background-color: #4dc0b520; }

label>.material-icons, label>.material-icons-outlined {
    margin: auto 0.25em !important;
}

.spot>.material-icons, .spot>.material-icons-outlined {
    margin: auto 0.25em !important;
    line-height: 1.5em !important;
}
.spot {
    border-radius: 50% !important;
}
.spot:hover {
    background-color: lightgrey !important;
}
.spot.spot-primary:hover {
    background-color: #bcd5ef !important;
}
.spot.spot-secondary:hover {
    background-color: #d2d3d5 !important;
}
.spot.spot-success:hover {
    background-color: #c4ddca !important;
}
.spot.spot-danger:hover {
    background-color: #e8c7ca !important;
}
.spot.spot-warning:hover {
    background-color: #efe3bd !important;
}
.spot.spot-info:hover {
    background-color: #c1dce1 !important;
}
.spot.spot-light:hover {
    background-color: #eeeeee !important;
}
.spot.spot-dark:hover {
    background-color: #c6c8c9 !important;
}

.form-check>.form-check-input {
    margin-top: 0.3rem !important;
}

.rounded-top-0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.search-form {
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
}
.search-form h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: var(--select-color-3);
}
.search-form form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
}
.search-form form input[type=text] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
.search-form form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: var(--select-color-1);
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.search-form form input[type=submit]:hover {
    background: var(--select-color-9);
}

.comment-form {
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
}

.comment-form input {
    border: 0;
    background: none;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

.comment-form input:focus {
    outline: none;
}

.comment-form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: var(--select-color-1);
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.comment-form button:hover {
    background: var(--select-color-9);
}

.navbar .myapps, .navbar .myapps:focus {
    padding: 6px 10px;
    border-radius: 50px;
    font-size: 14px;
    border: 2px solid var(--select-color-1);
    font-weight: 600;
}
.navbar .myapps:hover, .navbar .myapps:focus:hover {
    color: #fff !important;
    background: var(--select-color-6);
}

.navbar-mobile .myapps, .navbar-mobile .myapps:focus {
    margin: 15px;
    justify-content: start;
    color: var(--select-color-3);
}

@media (992px <= width < 1260px) {
    .navbar a {
        padding-left: 10px !important;
    }
}

@media (1260px <= width < 1422px) {
    .navbar a {
        padding-left: 20px !important;
    }
}

.services .icon-box {
    width: 320px;
    min-height: 320px;
}

.title-icon i {
    vertical-align: top;
    color: var(--select-color-1);
    transition: 0.3s;
}

.why-us .accordion-list button i {
    font-size: medium;
    position: relative;
}

.box.featured:hover {
    background-color:rgba(55, 81, 126, 0.125)
}

table {
    border-collapse: unset !important;
}

@media (max-width: 992px) {
    .pricing h3 {
        font-size: 16px;
    }
    .pricing h4 span {
        font-size: 14px;
    }
}
@media (max-width: 991px) {
    .pricing h3 {
        font-size: 20px;
    }
    .pricing h4 span {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    #footer .footer-links {
        flex-direction: column;
    }
    #footer .footer-top h4{
        margin-top: 25px;
    }
}

.search-card {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.search-card:hover {
        transform: translate(5px, -5px) !important;
        transition: all ease-in-out 0.4s !important;
}

@media (max-width: 1220px) {
    .serach-infos {
        position: relative !important;
    }
}

#header .logo img {
    max-height: 48px;
}

/* changement de couleur */
a {
    color: var(--select-color-1);
}

a:hover {
    color: var(--select-color-2);
}

#preloader {
    background: var(--select-color-3) !important;
}

.back-to-top {
    background: var(--select-color-1) !important;
}

.back-to-top:hover {
    background: var(--select-color-4) !important;
}

#header.header-scrolled, #header.header-inner-pages {
    background: var(--select-color-5) !important;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: var(--select-color-1) !important;
}

.navbar .getstarted, .navbar .getstarted:focus {
    border: 2px solid var(--select-color-1) !important;
}

.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
    background: var(--select-color-6) !important;
}

.navbar .dropdown ul {
    box-shadow: 0px 0px 30px var(--select-color-7) !important;
}

.navbar .dropdown ul a {
    color: var(--select-color-8) !important;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active, .navbar .dropdown ul li:hover > a {
    color: var(--select-color-1) !important;
}

.navbar-mobile {
    background: var(--select-color-5) !important;
}

.navbar-mobile a, .navbar-mobile a:focus {
    color: var(--select-color-3) !important;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: var(--select-color-1) !important;
}

.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    color: var(--select-color-3) !important;
}

.navbar-mobile .dropdown ul {
    box-shadow: 0px 0px 30px var(--select-color-7) !important;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: var(--select-color-1) !important;
}

#hero {
    background: var(--select-color-3) !important;
}

#hero .btn-get-started {
    background: var(--select-color-1) !important;
}

#hero .btn-get-started:hover {
    background: var(--select-color-9) !important;
}

#hero .btn-watch-video:hover i {
    color: var(--select-color-1) !important;
}

.section-bg {
    background-color: var(--select-color-10) !important;
}

.section-title h2 {
    color: var(--select-color-3) !important;
}

.section-title h2::after {
    background: var(--select-color-1) !important;
}

.about .content ul i {
    color: var(--select-color-1) !important;
}

.about .content .btn-learn-more {
    color: var(--select-color-1) !important;
    border: 2px solid var(--select-color-1) !important;
}

.about .content .btn-learn-more:hover {
    background: var(--select-color-1) !important;
}

.why-us .content h3 {
    color: var(--select-color-3) !important;
}

.why-us .accordion-list span {
    color: var(--select-color-1) !important;
}

.why-us .accordion-list a.collapsed {
    color: var(--select-color-11) !important;
}

.why-us .accordion-list a.collapsed:hover {
    color: var(--select-color-1) !important;
}

.skills .content h3 {
    color: var(--select-color-3) !important;
}

.skills .content ul i {
    color: var(--select-color-1) !important;
}

.skills .progress .skill {
    color: var(--select-color-3) !important;
}

.skills .progress-bar-wrap {
    background: var(--select-color-12) !important;
}

.skills .progress-bar {
    background-color: var(--select-color-13) !important;
}

.services .icon-box .icon i {
    color: var(--select-color-1) !important;
}

.services .icon-box h4 a {
    color: var(--select-color-3) !important;
}

.services .icon-box:hover h4 a {
    color: var(--select-color-1) !important;
}

.cta {
    background: linear-gradient(var(--select-color-5), var(--select-color-5)), url("../img/cta-bg.jpg") fixed center center !important;
}

.cta .cta-btn:hover {
    background: var(--select-color-1) !important;
    border: 2px solid var(--select-color-1) !important;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    background: var(--select-color-1) !important;
}

.portfolio .portfolio-item .portfolio-info {
    background: var(--select-color-20) !important;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: var(--select-color-1) !important;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    border: 1px solid var(--select-color-1) !important;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--select-color-1) !important;
}

.portfolio-details .portfolio-info {
    box-shadow: 0px 0 30px var(--select-color-21) !important;
}

.team .member h4 {
    color: var(--select-color-3) !important;
}

.team .member span::after {
    background: var(--select-color-14) !important;
}

.team .member .social a {
    background: var(--select-color-15) !important;
}
.team .member .social a i {
    color: var(--select-color-3) !important;
}
.team .member .social a:hover {
    background: var(--select-color-1) !important;
}

.pricing .box {
    box-shadow: 0 3px 20px -2px var(--select-color-16) !important;
}

.pricing h3 {
    color: var(--select-color-3) !important;
}

.pricing h4 {
    color: var(--select-color-3) !important;
}

.pricing h4 span {
    color: var(--select-color-1) !important;
}

.pricing .buy-btn {
    color: var(--select-color-1) !important;
    border: 1px solid var(--select-color-1) !important;
}

.pricing .buy-btn:hover {
    background: var(--select-color-1) !important;
}

.pricing .featured {
    border-top-color: var(--select-color-1) !important;
}

.pricing .featured .buy-btn {
    background: var(--select-color-1) !important;
}

.pricing .featured .buy-btn:hover {
    background: var(--select-color-17) !important;
}

.faq .faq-list .icon-help {
    color: var(--select-color-1) !important;
}

.faq .faq-list a.collapsed {
    color: var(--select-color-3) !important;
}

.faq .faq-list a.collapsed:hover {
    color: var(--select-color-1) !important;
}

.contact .info {
    border-top: 3px solid var(--select-color-1) !important;
    border-bottom: 3px solid var(--select-color-1) !important;
}

.contact .info i {
    color: var(--select-color-1) !important;
    background: var(--select-color-18) !important;
}

.contact .info h4 {
    color: var(--select-color-3) !important;
}

.contact .info p {
    color: var(--select-color-19) !important;
}

.contact .info .social-links a:hover {
    background: var(--select-color-1) !important;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: var(--select-color-1) !important;
}

.contact .php-email-form {
    border-top: 3px solid var(--select-color-1) !important;
    border-bottom: 3px solid var(--select-color-1) !important;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: var(--select-color-1) !important;
}

.contact .php-email-form button[type=submit] {
    background: var(--select-color-1) !important;
}

.contact .php-email-form button[type=submit]:hover {
    background: var(--select-color-9) !important;
}

.breadcrumbs {
    background: var(--select-color-10) !important;
}

.breadcrumbs h2 {
    color: var(--select-color-3) !important;
}

.breadcrumbs ol li + li::before {
    color: var(--select-color-13) !important;
}

#footer {
    background: var(--select-color-3) !important;
}

#footer .footer-newsletter {
    background: var(--select-color-10) !important;
}

#footer .footer-newsletter h4 {
    color: var(--select-color-3) !important;
}

#footer .footer-newsletter form input[type=submit] {
    background: var(--select-color-1) !important;
}

#footer .footer-newsletter form input[type=submit]:hover {
    background: var(--select-color-9) !important;
}

#footer .footer-top .footer-contact h3 {
    color: var(--select-color-3) !important;
}

#footer .footer-top h4 {
    color: var(--select-color-3) !important;
}

#footer .footer-top .footer-links ul i {
    color: var(--select-color-1) !important;
}

#footer .footer-top .footer-links ul a:hover {
    color: var(--select-color-1) !important;
}

#footer .footer-top .social-links a {
    background: var(--select-color-1) !important;
}

#footer .footer-top .social-links a:hover {
    background: var(--select-color-9) !important;
}

.admin-nav-icons{
    color: white;
}

.admin-nav-hover > a:hover{
    color: #495057 !important;
}

.overflow-auto::-webkit-scrollbar {
    display: none;
}

.choice-icon-btn {
    border: 1px solid rgba(108, 117, 125, 0.25);
}

.choice-icon-div {
    background-color: var(--select-color-1);
}

.choice-icon-div:hover {
    background-color: var(--select-color-2);
}

.bg-icon-picker {
    background-color: var(--select-color-1);
}

.search-icons:focus {
    box-shadow: none;
}
