* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    width: fit-content;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: aqua;
}

a.btn {
    padding: 10px;
    border-radius: 200px;
}

.content{
    margin-inline: 15px;
}